ul {
    list-style: none;
}

ul li { 
    width: 45%;
    margin: 5px;
}

@media screen and (max-width: 767px) {
    ul li {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
   :host {
       font-size: x-small;
   }
}